<!DOCTYPE html>
<html>
<head>
    <title>BSTUTimeline</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="css/site.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body ng-app="timeline" ng-controller="RootCtrl">

    <div class="canvas">
        <div class="container">
            <div class="logo">
                <span class="words">bstutimeline</span>
            </div>

            <div class="timeline-types">
                <div class="item {{type.id}}"
                     ng-repeat="type in types.list"
                     ng-class="{ 'active': types.isActive(type.id) }"
                     ng-click="types.activate(type.id)">
                    {{type.text}}
                </div>
            </div>

            <div class="timeline">

                <div ng-if="types.isActive('feed')" ng-controller="FeedCtrl">
                    <ng-include src="'news.html'"></ng-include>
                </div>

                <div ng-if="types.isActive('upcoming')" ng-controller="UpcomingCtrl">
                    <ng-include src="'news.html'"></ng-include>
                </div>

            </div>

            <div class="footer">
                <div class="title">
                    <div class="text">
                        BSTUTIMELINE
                    </div>
                </div>

                <div class="links">
                    <div class="link">
                        <a href="https://belstu.by" target="_blank">
                            Главный сайт
                        </a>
                    </div>

                    <div class="link">
                        <a class="link" href="https://vk.com/bstu_by" target="_blank">
                            БГТУ в VK
                        </a>
                    </div>

                    <div class="link">
                        <a href="https://www.facebook.com/bstuminsk" target="_blank">
                            БГТУ в Facebook
                        </a>
                    </div>

                    <div class="link last">
                        <a href="https://twitter.com/bstuminsk" target="_blank">
                            БГТУ в Twitter
                        </a>
                    </div>
                </div>
            </div>

            <div class="spinner" ng-show="showSpinner()">
                <i class="fa fa-refresh"></i>
            </div>

            <to-top class="to-top" show-after="350">
                <i class="fa fa-angle-up"></i>
            </to-top>
        </div>
    </div>

    <script type="text/ng-template" id="news.html">
    
        <div class="item" ng-repeat="newsItem in news">
            <div class="img-container" ng-class="{ 'no-thumb': !newsItem.Thumb }">
                <div ng-show="newsItem.Thumb" class="img" ng-style="{ 'background-image': 'url(' + newsItem.Thumb + ')' }"></div>

                <div class="placement">
                    {{ newsItem.Place }}
                </div>
            </div>

            <div class="views">
                <i class="fa fa-eye"></i>
                {{ newsItem.Views }}
            </div>

            <div class="date">
                {{newsItem.Date}}
            </div>

            <div class="title">
                {{ newsItem.Title }}
            </div>

            <div class="actions" ng-class="{ 'out': newsItem.socials }">
                <a class="action" ng-click="open(newsItem)" >Читать</a>
                <a class="action" ng-click="toggleSocials(newsItem)">Поделиться</a>
            </div>

            <div class="socials" ng-class="{ 'in': newsItem.socials }">
                <a ng-click="shareVk(newsItem)">
                    <i class="fa fa-vk"></i>
                </a>

                <a ng-click="shareTw(newsItem)">
                    <i class="fa fa-twitter"></i>
                </a>

                <a ng-click="shareFb(newsItem)">
                    <i class="fa fa-facebook"></i>
                </a>

                <a class="close" ng-click="toggleSocials(newsItem)">
                    НАЗАД
                </a>
            </div>
        </div>
    
        <div class="more" ng-click="readMore()" ng-show="news.length > 0">
            <div class="more-button" ng-class="{ 'loading': showSpinnerSmall() }">
                <i class="fa fa-refresh" ng-show="showSpinnerSmall()"></i>
                Ещё новости
            </div>
        </div>
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="js/app.min.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-62450305-3', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>
