<!DOCTYPE html>
<html>
<head>
    <title>bstutimeline</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="site.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body ng-app="myapp" ng-controller="myctrl">

    <div class="canvas">
        <div class="container">
            <div class="logo">
                <span class="words">bstutimeline</span>
            </div>

            <div class="timeline">
                <div class="item" ng-repeat="newsItem in news">
                    <div class="img-container" ng-class="{ 'no-thumb': !newsItem.Thumb }">
                        <div ng-show="newsItem.Thumb" class="img" ng-style="{ 'background': 'url(' + newsItem.Thumb + ')', 'background-size': 'cover', 'background-position': 'center center'}"></div>

                        <div class="placement">
                            {{ newsItem.Place }}
                        </div>
                    </div>

                    <div class="views">
                        <i class="fa fa-eye"></i>
                        {{ newsItem.Views }}
                    </div>

                    <div class="date">
                        {{newsItem.Date}}
                    </div>

                    <div class="title">
                        {{ newsItem.Title }}
                    </div>

                    <div class="actions" ng-class="{ 'out': newsItem.showSocials }">
                        <a class="action" href="{{ newsItem.Url }}" target="_blank">Читать</a>
                        <a class="action" ng-click="newsItem.showSocials = true">Поделиться</a>
                    </div>

                    <div class="socials" ng-class="{ 'in': newsItem.showSocials }">
                        <a target="_blank" href="http://vk.com/share.php?url={{ newsItem.Url }}">
                            <i class="fa fa-vk"></i>
                        </a>

                        <a target="_blank" href="https://twitter.com/intent/tweet?text={{ newsItem.Title }}&url={{ newsItem.Url }}&via=bstutimeline">
                            <i class="fa fa-twitter"></i>
                        </a>

                        <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u={{ newsItem.Url }}">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a class="close" ng-click="newsItem.showSocials = false">
                            НАЗАД
                        </a>
                    </div>
                </div>

                <div class="more" ng-click="get()">
                    <div class="more-button">
                        Ещё новости
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

    <script>
        (function () {
            angular
                .module('myapp', [])
                .controller('myctrl', function ($scope, $http) {
                    $scope.news = [];

                    $scope.get = function() {
                        $http.get('/api/news?skip=' + $scope.news.length).then(function(response) {
                            for (var i = 0; i < response.data.length; i++) {
                                $scope.news.push(response.data[i]);
                            }
                        });
                    };

                    $scope.get();
                });
        })();
    </script>
</body>
</html>
